.recommend__title {
    position: relative;
    width: 200px;
    color: #FFCC21;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.10999999940395355px;
    margin: 0 auto;
    text-align: center;
    padding: 24px 8px 10px 8px;
}

.recommend__desc {
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    padding: 8px 8px 22px 8px;

}

.recommend__title:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 56px;

    border-bottom: 1px solid #FFFFFF
}

.gallery__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
    display: -webkit-box;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.07500000298023224px;
    text-align: left;
    margin-bottom: 0;
}

.gallery__tag {
    color: #FF963C;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.05999999865889549px;
    text-align: left;
}